<%- include header %>

<%if(user){%>
    <%if(user.name == post.author){%>
        <p>
            <span><a class="edit" href="/post/edit/?id=<%=post._id%>">编辑</a></span>
            <span><a class="edit" href="/post/delete?id=<%= post._id%>">删除</a></span>
        </p>
    <%}%>
<%}%>
<p><h2><a href="#"><%= post.title %></a></h2></p>
<p class="info">
作者：<a href="#"><%= post.author %></a> |
日期：<%= post.meta.cerateAt %> |
浏览：<%= post.pv%>
</p>
<p><%- post.article %></p>

<%if(post.postImg) { %>
    <img src="/images/<%= post.postImg %>" alt="" style="width:100%;height:100%;">
<% } %>

<ul class="list-group">
    <% post.comments.forEach(function(comment){%>
    <li class="list-group-item">
        <h5><a href="#"><%= comment.content%></a></h5>
        <p class="info">
            
            
            <span>评论人：<%= comment.author %></span>
            <span>|</span>
            <span>日期：<%= comment.meta.creatAt %></span>
        </p>
    </li>
    <hr>
    <%})%>
</ul>

  <form  method="post" action="/post/detail/comment?id=<%=post._id%>" >
      <div class="form-group">
        <label for="name">评论</label>
        <textarea class="form-control" name="content" rows="3"></textarea>
    </div>
    <input type="submit" value="评论" class="btn btn-default"/>
    </form>
<%- include footer %>